<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon.png">
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="Author" content="hemant.me"/>
    <title>Electoral - Address</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <script src="/jquery.js" type="text/javascript"></script>
    <link href="/bootstrap.css" rel="stylesheet" />
    <link href="/materialkit.css" rel="stylesheet"/>
    <script src="/configjs.js"></script>
    <script src="/addressSettingsAdd.js"></script>
    <script src="/addressSettingsEdit.js"></script>
    <script src="/addressSettingsDel.js"></script>
    <script src="/addressSettingsCommon.js"></script>
    <script src="/areaAccessSettings.js"></script>
    <script src="/authenticationAdd.js"></script>


    <style>
        .seting_button{
            font-weight: 500;
            font-size: 12px;
            color: #333 !important;
            text-decoration: none !important;
            display: block;
            float: left;
            margin-top: 10px;
            width: 100%;
            margin-bottom: 10px;


        }
        .seting_button:hover{
            color: #068CD4 !important;
        }
        .setting_button i{
            font-size: 8px !important;

        }
        #ss:before{
            content: "> ";
        }
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            background-color: #999 !important;
            color: #FFFFFF;
            box-shadow:none !important;
        }
        .header{
            box-shadow:none !important;
        }
        .nav-pills > li > a {
            background-color: #ddd !important;
        }

    </style>

</head>

<body style="background-color: #eee;">
<div class="section" style="margin-bottom: 15px; ">
    <div class="container">
        <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="/querySearch">
                        <div class="logo" style="line-height: 40px;">
                            <img src="/logo.png" alt="Electoral Logo">
                        </div>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navigation-index">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/querySearch">Search Data</a>
                        </li>
                        <li id="authCheckAdd">
                            <a href="/queryAdd">Add Data</a>
                        </li>
                        <li id="authCheckAddUser">
                            <a href="/registrationElectoral">Registration</a>

                        </li>

                        <li>
                            <a href="#">Change Password</a>
                        </li>
                        <li>
                            <a href="#">Edit Profile</a>
                        </li>
                        <li class="active" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Settings
                                <b class="caret"></b>
                                <div class="ripple-container"></div></a>
                            <ul style="color: #1a1a1a !important;" class="dropdown-menu dropdown-menu-right">


                                <li><a href="#">List of Admins</a></li>
                                <li><a href="#">List of Blocked Users/Admins</a></li>
                                <li><a href="#">List Change Mobile User/Admin</a></li>
                                <li class="active" id="authCheckAddress"><a href="/addressSettings">Address Settings</a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-sm" style="margin-top: 10px;" href="/logout">Logout</a>
                        </li>

                    </ul>
                </div>

            </div><!-- /.container-fluid -->
        </nav>
    </div></div>









<div class="wrapper">
    <div class="main main-raised" style="padding: 20px;">
        <div class="container">
            <h2 class="text-center">Address Settings</h2>
            <div class="row">


                <div class="col-md-12" style="margin: 0px !important;">


                    <div class="col-md-12" style="margin: 0px !important;">

                        <div class="card card-nav-tabs">
                            <div class="header header-info">
                                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs" data-tabs="tabs">
                                            <li class="active">
                                                <a href="#profile" data-toggle="tab">
                                                    <i class="material-icons">add</i>
                                                    Add
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#messages" data-toggle="tab">
                                                    <i class="material-icons">create</i>
                                                    Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#settings" data-toggle="tab">
                                                    <i class="material-icons">clear</i>
                                                    Delete
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="tab-content ">
                                    <div class="tab-pane active" id="profile">


                                        <div class="col-md-12" style="margin: 0px !important;">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <strong class="labelh pull-left" >Add New Address</strong>
                                                </div>
                                            </div>
                                            <div class="col-md-6" id="stateAddS" style="margin: 0px !important;">

                                                <div class="form-group label-floating">
                                                    <label class="control-label">State</label>
                                                    <input type="text" required readonly name="state" id="stateAddL" value="" class="form-control">
                                                </div>

                                            </div>

                                            <div class="col-md-6" id="stateAddH" style="margin: 0px !important;">
                                                 <div class="form-group label-floating">
                                                    <label class="control-label">Select State</label>
                                                    <select id="stateAdd" name="state" class="form-control">

                                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                        <option value="Assam">Assam</option>
                                                        <option value="Bihar">Bihar</option>
                                                        <option value="Chandigarh">Chandigarh</option>
                                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                        <option value="Daman and Diu">Daman and Diu</option>
                                                        <option value="Delhi">Delhi</option>
                                                        <option value="Goa">Goa</option>
                                                        <option value="Gujarat">Gujarat</option>
                                                        <option value="Haryana">Haryana</option>
                                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                        <option value="Jharkhand">Jharkhand</option>
                                                        <option value="Karnataka">Karnataka</option>
                                                        <option value="Kerala">Kerala</option>
                                                        <option value="Lakshadweep">Lakshadweep</option>
                                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                        <option value="Maharashtra">Maharashtra</option>
                                                        <option value="Manipur">Manipur</option>
                                                        <option value="Meghalaya">Meghalaya</option>
                                                        <option value="Mizoram">Mizoram</option>
                                                        <option value="Nagaland">Nagaland</option>
                                                        <option value="Orissa">Orissa</option>
                                                        <option value="Pondicherry">Pondicherry</option>
                                                        <option value="Punjab">Punjab</option>
                                                        <option value="Rajasthan">Rajasthan</option>
                                                        <option value="Sikkim">Sikkim</option>
                                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                                        <option value="Tripura">Tripura</option>
                                                        <option value="Uttarakhand" selected="selected">Uttarakhand</option>
                                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                        <option value="West Bengal">West Bengal</option>
                                                    </select>



                                                </div>
                                            </div>

                                            <div class="col-md-6" id="districtAddS" style="margin: 0px !important;">

                                                <div class="form-group label-floating">
                                                    <label class="control-label">District</label>
                                                    <input type="text" readonly required name="district" id="districtAddL" value="" class="form-control">
                                                </div>

                                            </div>

                                            <div class="col-md-6" id="districtAddH" style="margin: 0px !important;">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">District</label>
                                                    <select  name="districtAdd" id="districtAdd" onchange="getABlock(value,document.getElementById('stateAdd').value); disableCheckAB(); disableCheckAV();" required  class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin: 0px !important;">
                                                <div class=" row boxrow">

                                                    <ul class="nav nav-pills">
                                                        <li class="active"><a data-toggle="pill" href="#home">Add Block/ Nagar Palika</a></li>
                                                        <li><a data-toggle="pill" href="#menu1">Add Village</a></li>
                                                    </ul>

                                                    <div class="tab-content">
                                                        <div id="home" class="tab-pane fade in active">
                                                            <div class="col-md-12" id="blockAddS" style="margin: 0px !important;">

                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block</label>
                                                                    <input type="text" readonly name="block"  required id="blockAddL" value="" class="form-control">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-12" id="blockAddH" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Add New Block/Nagar palika</label>
                                                                    <input  type="text" name="block"  required id="blockAdd1" onkeyup="disableCheckAB();" class="form-control">
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button type="submit" id="addBlockButton" class="btn btn-primary pull-right"  onclick="addBlock(document.getElementById('blockAdd1').value)">Add</button>
                                                                    <div id="success" class="errmsg">Succesfully Added!</div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="menu1" class="tab-pane fade">
                                                            <div class="col-md-12" id="blockAddS1" style="margin: 0px !important;">

                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block</label>
                                                                    <input type="text" readonly name="block"  required id="blockAddL1" value="" class="form-control">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-12" id="blockAddH1" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block/Nagar palika</label>
                                                                    <select  name="block" id="blockAdd2" onchange="disableCheckAV()" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12" id="villageAddS" style="margin: 0px !important;">

                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Village</label>
                                                                    <input type="text" readonly name="village" required id="villageAddL" value="" class="form-control">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-12" id="villageAddH" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Add Village</label>
                                                                    <input  type="text" name="village" id="villageAdd" onkeyup="disableCheckAV()" class="form-control">
                                                                </div>
                                                            </div>


                                                            <div class="col-md-12">
                                                                <button type="submit" id="addVillageButton" class="btn btn-primary pull-right" onclick="addVillage(document.getElementById('villageAdd').value)">Add</button>
                                                                <div id="success1" class="errmsg">Succesfully Added!</div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="messages">


                                        <div class="col-md-12" style="margin: 0px !important;">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <strong class="labelh pull-left" >Edit Address</strong>
                                                </div>
                                            </div>
                                            <div class="col-md-6" id="stateEditS" style="margin: 0px !important;">

                                                <div class="form-group label-floating">
                                                    <label class="control-label">State</label>
                                                    <input type="text" required readonly name="state" id="stateEditL" value="" class="form-control">
                                                </div>

                                            </div>
                                            <div class="col-md-6" id="stateEditH" style="margin: 0px !important;">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Select State</label>
                                                    <select  name="state" id="stateEdit" class="form-control">

                                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                        <option value="Assam">Assam</option>
                                                        <option value="Bihar">Bihar</option>
                                                        <option value="Chandigarh">Chandigarh</option>
                                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                        <option value="Daman and Diu">Daman and Diu</option>
                                                        <option value="Delhi">Delhi</option>
                                                        <option value="Goa">Goa</option>
                                                        <option value="Gujarat">Gujarat</option>
                                                        <option value="Haryana">Haryana</option>
                                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                        <option value="Jharkhand">Jharkhand</option>
                                                        <option value="Karnataka">Karnataka</option>
                                                        <option value="Kerala">Kerala</option>
                                                        <option value="Lakshadweep">Lakshadweep</option>
                                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                        <option value="Maharashtra">Maharashtra</option>
                                                        <option value="Manipur">Manipur</option>
                                                        <option value="Meghalaya">Meghalaya</option>
                                                        <option value="Mizoram">Mizoram</option>
                                                        <option value="Nagaland">Nagaland</option>
                                                        <option value="Orissa">Orissa</option>
                                                        <option value="Pondicherry">Pondicherry</option>
                                                        <option value="Punjab">Punjab</option>
                                                        <option value="Rajasthan">Rajasthan</option>
                                                        <option value="Sikkim">Sikkim</option>
                                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                                        <option value="Tripura">Tripura</option>
                                                        <option value="Uttarakhand" selected="selected">Uttarakhand</option>
                                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                        <option value="West Bengal">West Bengal</option>
                                                    </select>



                                                </div>
                                            </div>
                                            <div class="col-md-6" id="districtEditS" style="margin: 0px !important;">

                                                <div class="form-group label-floating">
                                                    <label class="control-label">District</label>
                                                    <input type="text" readonly required name="district" id="districtEditL" value="" class="form-control">
                                                </div>

                                            </div>
                                            <div class="col-md-6" id="districtEditH" style="margin: 0px !important;">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">District</label>
                                                    <select  name="districtEdit" id="districtEdit" onchange="getEBlock(value,document.getElementById('stateEdit').value); disableCheckEB(); disableCheckEV();" required  class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin: 0px !important;">
                                                <div class=" row boxrow">

                                                    <ul class="nav nav-pills">
                                                        <li class="active"><a data-toggle="pill" href="#editblock">Edit Block/ Nagar Palika</a></li>
                                                        <li><a data-toggle="pill" href="#editvill">Edit Village</a></li>
                                                    </ul>

                                                    <div class="tab-content">
                                                        <div id="editblock" class="tab-pane fade in active">
                                                            <div class="col-md-6" id="blockEditS" style="margin: 0px !important;">

                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block</label>
                                                                    <input type="text" readonly name="block"  required id="blockEditL" value="" class="form-control">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-6" id="blockEditH" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block/Nagar palika</label>
                                                                    <select  name="block" id="blockEdit1" onchange="disableCheckEB()" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Edit Block/Nagar palika</label>
                                                                    <input  type="text" name="block" id="blockEdited1" onkeyup="disableCheckEB()" class="form-control">
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button type="submit" id="editBlockButton" class="btn btn-primary pull-right" onclick="editBlock(document.getElementById('blockEdited1').value)" >Edit</button>
                                                                    <div id="success2" class="errmsg">Succesfully Edited!</div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="editvill" class="tab-pane fade">
                                                            <div class="col-md-12" id="blockEditS1" style="margin: 0px !important;">

                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block</label>
                                                                    <input type="text" readonly name="block"  required id="blockEditL1" value="" class="form-control">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-12" id="blockEditH1" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block/Nagar palika</label>
                                                                    <select  name="block" id="blockEdit2" onchange="getEVillage(document.getElementById('districtEdit').value,document.getElementById('stateEdit').value,value); disableCheckEV()" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" id="villageEditS" style="margin: 0px !important;">

                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Village</label>
                                                                    <input type="text" readonly name="village" required id="villageEditL" value="" class="form-control">
                                                                </div>

                                                            </div>

                                                            <div class="col-md-6" id="villageEditH" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Village</label>
                                                                    <select name="village" id="villageEdit" onchange="disableCheckEV()" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Edit Village</label>
                                                                    <input  type="text" name="village" id="editedVillage" onkeyup="disableCheckEV()" class="form-control">
                                                                </div>
                                                            </div>



                                                            <div class="col-md-12">
                                                                <button type="submit" id="editVillageButton" class="btn btn-primary pull-right" onclick="editVillage(document.getElementById('editedVillage').value)">Edit</button>
                                                                <div id="success3" class="errmsg">Succesfully Edited!</div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <h6><b><span style="color: #ac2925">Warning:</span> Editing address data will also edit corresponding civilian data.</b></h6>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tab-pane" id="settings">
                                        <div class="col-md-12" style="margin: 0px !important;">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <strong class="labelh pull-left" >Delete Address</strong>
                                                </div>
                                            </div>
                                            <div class="col-md-6" id="stateDelS" style="margin: 0px !important;">

                                                <div class="form-group label-floating">
                                                    <label class="control-label">State</label>
                                                    <input type="text" required readonly name="state" id="stateDelL" value="" class="form-control">
                                                </div>

                                            </div>

                                            <div class="col-md-6" id="stateDelH" style="margin: 0px !important;">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Select State</label>
                                                    <select  name="state" id="stateDel" class="form-control">

                                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                        <option value="Assam">Assam</option>
                                                        <option value="Bihar">Bihar</option>
                                                        <option value="Chandigarh">Chandigarh</option>
                                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                        <option value="Daman and Diu">Daman and Diu</option>
                                                        <option value="Delhi">Delhi</option>
                                                        <option value="Goa">Goa</option>
                                                        <option value="Gujarat">Gujarat</option>
                                                        <option value="Haryana">Haryana</option>
                                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                        <option value="Jharkhand">Jharkhand</option>
                                                        <option value="Karnataka">Karnataka</option>
                                                        <option value="Kerala">Kerala</option>
                                                        <option value="Lakshadweep">Lakshadweep</option>
                                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                        <option value="Maharashtra">Maharashtra</option>
                                                        <option value="Manipur">Manipur</option>
                                                        <option value="Meghalaya">Meghalaya</option>
                                                        <option value="Mizoram">Mizoram</option>
                                                        <option value="Nagaland">Nagaland</option>
                                                        <option value="Orissa">Orissa</option>
                                                        <option value="Pondicherry">Pondicherry</option>
                                                        <option value="Punjab">Punjab</option>
                                                        <option value="Rajasthan">Rajasthan</option>
                                                        <option value="Sikkim">Sikkim</option>
                                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                                        <option value="Tripura">Tripura</option>
                                                        <option value="Uttarakhand" selected="selected">Uttarakhand</option>
                                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                        <option value="West Bengal">West Bengal</option>
                                                    </select>



                                                </div>
                                            </div>
                                            <div class="col-md-6" id="districtDelS" style="margin: 0px !important;">

                                                <div class="form-group label-floating">
                                                    <label class="control-label">District</label>
                                                    <input type="text" readonly required name="district" id="districtDelL" value="" class="form-control">
                                                </div>

                                            </div>

                                            <div class="col-md-6" id="districtDelH" style="margin: 0px !important;">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">District</label>
                                                    <select  name="districtDel" id="districtDel" onchange="getDBlock(value,document.getElementById('stateDel').value); disableCheckDB(); disableCheckDV();" required  class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin: 0px !important;">
                                                <div class=" row boxrow">

                                                    <ul class="nav nav-pills">
                                                        <li class="active"><a data-toggle="pill" href="#deleteblock">Delete Block/ Nagar Palika</a></li>
                                                        <li><a data-toggle="pill" href="#deletevill">delete Village </a></li>
                                                    </ul>

                                                    <div class="tab-content">
                                                        <div id="deleteblock" class="tab-pane fade in active">
                                                            <div class="col-md-12" id="blockDelS" style="margin: 0px !important;">

                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block</label>
                                                                    <input type="text" readonly name="block"  required id="blockDelL" value="" class="form-control">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-12" id="blockDelH" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block/Nagar palika</label>
                                                                    <select  name="block" id="blockDel1" onchange="disableCheckDB()" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button type="submit" id="deleteBlockButton" class="btn btn-primary pull-right" onclick="delBlock()" >Delete</button>
                                                                    <div id="success4" class="errmsg">Succesfully Deleted!</div>
                                                                    <div>
                                                                        <p><span style="color: #ac2925">*</span>Deleting a block will also delete all corresponding villages.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="deletevill" class="tab-pane fade">
                                                            <div class="col-md-12" id="blockDelS1" style="margin: 0px !important;">

                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block</label>
                                                                    <input type="text" readonly name="block"  required id="blockDelL1" value="" class="form-control">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-12" id="blockDelH1" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Block/Nagar palika</label>
                                                                    <select  name="block" id="blockDel2" onchange="getDVillage(document.getElementById('districtEdit').value,document.getElementById('stateEdit').value,value); disableCheckDV()" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12" id="villageDelS" style="margin: 0px !important;">

                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Village</label>
                                                                    <input type="text" readonly name="village" required id="villageDelL" value="" class="form-control">
                                                                </div>

                                                            </div>
                                                            <div class="col-md-12" id="villageDelH" style="margin: 0px !important;">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Select Village to Delete</label>
                                                                    <select name="village" id="villageDel" onchange="disableCheckDV()" class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>



                                                            <div class="col-md-12">
                                                                <button id="deleteVillageButton" type="submit" href="#" class="btn btn-primary pull-right" onclick="delVillage()"  >Delete</button>
                                                                <div id="success5" class="errmsg">Succesfully Deleted!</div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <h6><b><span style="color: #ac2925">Warning:</span> Deleting address data will also delete corresponding civilian data.</b></h6>
                                            </div>
                                        </div>
                                        <input type="hidden" id="forAddData" value="123">
                                        <input type="hidden" id="forAddAdmin" value="123">
                                        <input type="hidden" id="forAddress" value="123">


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>




            </div><!-- main ROW end-->



            <br><br>





        </div>
    </div>

</div>
<footer class="footer footer-transparent">
    <div class="container">
        <div class="copyright">
            &copy; 2018 Electoral | Powered by Genesis
        </div>
    </div>
</footer>




<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Type Message:</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control" rows="5" id="comment" style="border: 1px solid #ddd; border-bottom: none; border-radius: 4px;"></textarea>

                <button type="button" class="btn btn-xs btn-primary pull-right" data-dismiss="modal">Close</button>

            </div>
            <div class="modal-footer">
                <!--          <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal">Close</button>-->
            </div>
        </div>

    </div>
</div>





<script type="text/javascript">


    function otherBox(){
        var othervalue = document.getElementById("otherselect").value;

        if(othervalue=="other"){
            document.getElementById("otherocc").style.display = "block";
        }
        else {
            document.getElementById("otherocc").style.display = "none";
        }
    };

</script>
<script>
    if('{{level}}'==='village'){
        document.getElementById('stateAdd').disabled = true;
        document.getElementById('districtAdd').disabled = true;
        document.getElementById('villageAdd').disabled = true;
        document.getElementById('blockAdd1').disabled = true;
        document.getElementById('blockAdd2').disabled = true;

        document.getElementById('villageAddL').value='{{village}}';
        document.getElementById('blockAddL').value='{{block}}';
        document.getElementById('blockAddL1').value='{{block}}';
        document.getElementById('districtAddL').value='{{district}}';
        document.getElementById('stateAddL').value='{{state}}';


// EDIT
        document.getElementById('stateEdit').disabled = true;
        document.getElementById('districtEdit').disabled = true;
        document.getElementById('villageEdit').disabled = true;
        document.getElementById('blockEdit1').disabled = true;
        document.getElementById('blockEdit2').disabled = true;
        document.getElementById('blockEdited1').disabled = true;

        document.getElementById('villageEditL').value='{{village}}';
        document.getElementById('blockEditL').value='{{block}}';
        document.getElementById('blockEditL1').value='{{block}}';
        document.getElementById('districtEditL').value='{{district}}';
        document.getElementById('stateEditL').value='{{state}}';
        
        //DEL
        document.getElementById('stateDel').disabled = true;
        document.getElementById('districtDel').disabled = true;
        document.getElementById('villageDel').disabled = true;
        document.getElementById('blockDel1').disabled = true;
        document.getElementById('blockDel2').disabled = true;
        

        document.getElementById('villageDelL').value='{{village}}';
        document.getElementById('blockDelL').value='{{block}}';
        document.getElementById('blockDelL1').value='{{block}}';
        document.getElementById('districtDelL').value='{{district}}';
        document.getElementById('stateDelL').value='{{state}}';


    }
    if('{{level}}'==='block'){
        document.getElementById('stateAdd').disabled = true;
        document.getElementById('districtAdd').disabled = true;
        document.getElementById('blockAdd1').disabled = true;
        document.getElementById('blockAdd2').disabled = true;

        document.getElementById('blockAddL').value='{{block}}';
        document.getElementById('blockAddL1').value='{{block}}';
        document.getElementById('districtAddL').value='{{district}}';
        document.getElementById('stateAddL').value='{{state}}';




        document.getElementById('stateEdit').disabled = true;
        document.getElementById('districtEdit').disabled = true;
        document.getElementById('blockEdit1').disabled = true;
        document.getElementById('blockEdit2').disabled = true;

        document.getElementById('blockEditL').value='{{block}}';
        document.getElementById('blockEditL1').value='{{block}}';
        document.getElementById('districtEditL').value='{{district}}';
        document.getElementById('stateEditL').value='{{state}}';



        document.getElementById('stateDel').disabled = true;
        document.getElementById('districtDel').disabled = true;
        document.getElementById('blockDel1').disabled = true;
        document.getElementById('blockDel2').disabled = true;

        document.getElementById('blockDelL').value='{{block}}';
        document.getElementById('blockDelL1').value='{{block}}';
        document.getElementById('districtDelL').value='{{district}}';
        document.getElementById('stateDelL').value='{{state}}';
    }
    if('{{level}}'==='district'){
        document.getElementById('stateAdd').disabled = true;
        document.getElementById('districtAdd').disabled = true;

        document.getElementById('districtAddL').value='{{district}}';
        document.getElementById('stateAddL').value='{{state}}';


        document.getElementById('stateEdit').disabled = true;
        document.getElementById('districtEdit').disabled = true;

        document.getElementById('districtEditL').value='{{district}}';
        document.getElementById('stateEditL').value='{{state}}';




        document.getElementById('stateDel').disabled = true;
        document.getElementById('districtDel').disabled = true;

        document.getElementById('districtDelL').value='{{district}}';
        document.getElementById('stateDelL').value='{{state}}';
    }
    if('{{level}}'==='state'){
        document.getElementById('stateAdd').disabled = true;
        document.getElementById('stateAddL').value='{{state}}';

        document.getElementById('stateEdit').disabled = true;
        document.getElementById('stateEditL').value='{{state}}';

        document.getElementById('stateDel').disabled = true;
        document.getElementById('stateDelL').value='{{state}}';
    }
    if('{{addC}}'!='on'){
        document.getElementById('forAddData').disabled = true;
    }
    if('{{addA}}'!='on'){
        document.getElementById('forAddAdmin').disabled = true;
    }
    if('{{aedAddress}}'!='on'){
        document.getElementById('forAddress').disabled = true;
    }
</script>

</body>
<script src="/bootstrapjs.js" type="text/javascript"></script>
<script src="/material.min.js"></script>
<script src="/bootstrap-datepicker.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="/materialkitjs.js" type="text/javascript"></script>
</html>