<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon.png">
    <link rel="icon" type="image/png" href="favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="Author" content="hemant.me"/>
    <title>Electoral - Edit</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <script src="/jquery.js"></script>

    <script src="/configjs.js"></script>
    <link rel="stylesheet" href="/styleLogin.css">

    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/inputtype.css">

    <link rel="stylesheet" href="/materialkit.css">
    <script src="/numeric.js"></script>
    <script src="/otpuserAuthReg.js"></script>
    <script src="/addressWOA.js"></script>
    <script src="/notification.js"></script>
    <script src="/authenticationAdd.js"></script>
    <script src="/getMark.js"></script>

    <!--js files-->
    <script>
        $('input[type=number]').numeric();


    </script>

</head>

<body style="background-color: #eee;">
<div class="section" style="margin-bottom: 15px; ">
    <div class="container">
        <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="/querySearch">
                        <div class="logo" style="line-height: 40px;">
                            <img src="/logo.png" alt="Electoral Logo">
                        </div>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navigation-index">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/querySearch">Search Data</a>
                        </li>
                        <li id="authCheckAdd">
                            <a href="/queryAdd">Add Data</a>
                        </li>
                        <li id="authCheckAddUser">
                            <a href="/registrationElectoral">Register Admin</a>

                        </li>
                        <li>
                            <a href="/changePassword">Change Password</a>
                        </li>
                        <li class="active">
                            <a href="/editProfile">Edit Profile</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Settings
                                <b class="caret"></b>
                                <div class="ripple-container"></div></a>
                            <ul style="color: #1a1a1a !important;" class="dropdown-menu dropdown-menu-right">


                                <li><a href="/userSearch">List of Admins</a></li>
                                <li><a href="/blockedUsers">List of Blocked Users/Admins</a></li>
                                <li><a href="/mobileReq">List Of Change Mobile User/Admin -<span id="mobileReqCount" style="color: red"> 0</span></a></li>
                                <li><a href="/todayAdd">Admin Activity</a></li>
                                <li><a href="/printmessagerequest">List Of Print/Message Request -<span id="messageReqCount" style="color: red"> 0</span></a></li>
                                <li id="authCheckAddress"><a href="/addressSettings">Modify Block/Village</a></li>

                            </ul>
                        </li>
                        <!------Request Menu item---------------->
                        <li id="authCheckRequest" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Request
                                <b class="caret"></b>
                                <div class="ripple-container"></div></a>
                            <ul class="dropdown-menu dropdown-menu-right">

                                <li><a href="#" onclick="messageRequest()"  data-toggle="modal" data-target="#requestAlert"><i class="fa fa-envelope"> </i> Request Message</a></li>
                                <li><a href="#"  data-toggle="modal" data-target="#requestAlert" onclick="printRequest()"><i class="fa fa-print"> </i> Request Print</a></li>

                            </ul>
                        </li>
                        <!------/Request Menu item---------------->

                        <!------M/P Menu item---------------->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle fa fa-envelope" title="Messages/Print left" data-toggle="dropdown" aria-expanded="true">
                                <b class="caret"></b>
                                <div class="ripple-container"></div></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><br></li>
                                <li style="width: 340px; color: #333 !important; padding-left: 20px; ">
                                    <i class="fa fa-envelope fa-2x" style="color: darkorange;"> </i> &nbsp; <strong style="color: brown;"> &nbsp; &nbsp;Messages - <span id="messageNoti"> 0</span> Left</strong>



                                </li>
                                <li><hr></li>

                                <li style="width: 340px; color: #333 !important; padding-left: 20px; ">
                                    <i class="fa fa-print fa-2x text-success"> </i> &nbsp; <strong style="color: brown;"> &nbsp; &nbsp;Print - <span id="printNoti">0</span>  Left</strong>



                                </li>
                                <li><br></li>

                            </ul>
                        </li>
                        <!------M/P Menu item---------------->
                        <li>
                            <a class="btn btn-primary btn-sm" style="margin-top: 10px;" href="/logout">Logout</a>
                        </li>

                    </ul>
                </div>

            </div><!-- /.container-fluid -->
        </nav>
    </div></div>


<div class="wrapper">


    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <form action="/editAdminProfile" autocomplete="off" method="post">
                    <h2 class="text-center">Edit Profile</h2>

                    <div class="row">
                        <input type="hidden" id="forAddData" value="123">
                        <input type="hidden" id="forAddAdmin" value="123">
                        <input type="hidden" id="forRequest" value="123">
                        <input type="hidden" id="forAddress" value="123">

                        <div class="col-md-12">
                            <div class=" row boxrow">
                                <div class="col-md-12">
                                    <strong class="labelh">Name</strong>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">First Name <span style="color: red">&nbsp; &#42;</span></label>
                                        <input required type="text" name="name" value="{{name}}" id="name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Middle Name</label>
                                        <input  type="text" name="middleName" value="{{middleName}}" id="middleName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" name="lastName" id="lastName" value="{{lastName}}" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">

                                <div class=" row boxrow">
                                    <div class="col-md-12">
                                        <strong class="labelh">Email<span style="color: red">&nbsp; &#42;</span></strong>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email</label>
                                            <input required type="email" readonly name="email" value="{{email}}" id="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">

                                <div class=" row boxrow">
                                    <div class="col-md-12">
                                        <strong class="labelh">Mobile<span style="color: red">&nbsp; &#42;</span></strong>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Mobile</label>
                                                    <input required type="text" onchange="$('#reqTrueSet').prop('required',true);" id="mobile" value="{{mobile}}" name="mobile" maxlength="10" class="form-control numeric maxLengthFilter">
                                                    <div id="wrongmobile" class="errmsg">Number already exists!</div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <input type="button" id="otpbutton" onclick="sendOTPReg(document.getElementById('mobile').value)" class="btn btn-simple btn-primary btn-md pull-right" style="margin-top: 25px; margin-right: -25px;  " value="Send OTP">
                                                <input type="hidden" name="verifiedMobile" value="false">
                                            </div>
                                        </div>
                                    </div>




                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group label-floating ">
                                                    <label class="control-label">Enter OTP</label>
                                                    <input type="text" name="otp" id="reqTrueSet" class="form-control numeric maxlengthfilter">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="col-md-4">
                                <div class=" row boxrow">
                                    <div class="col-md-12">
                                        <strong class="labelh">Age</strong>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Age</label>
                                            <input type="number" value="{{age}}" required name="age" id="age" max="100" min="0" class="form-control">                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class=" row boxrow">
                                    <div class="col-md-12">
                                        <strong class="labelh">Gender</strong>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Gender</label>
                                            <select name="gender" id="gender" required class="form-control">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class=" row boxrow">
                                    <div class="col-md-12">
                                        <strong class="labelh">Mark</strong>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Mark</label>
                                            <select name="mark" id="mark" class="form-control">



                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class=" row boxrow">
                                    <div class="col-md-12">
                                        <strong class="labelh pull-left">Occupation<span style="color: red">&nbsp; &#42;</span></strong>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <select required name="occupation"  class="form-control" onchange="otherBox()" id="otherselect">

                                                <option value="doctor">Doctor</option>
                                                <option value="advocate">Advocate</option>
                                                <option value="teacher">Teacher</option>
                                                <option value="Ex. Serviceman">Ex. Serviceman</option>
                                                <option value="Retired Employee">Retired Employee</option>
                                                <option value="Farmer">Farmer</option>
                                                <option value="Private Employee">Private Employee</option>
                                                <option value="Govt. Employee">Govt. Employee</option>
                                                <option value="Business Man">Business Man</option>
                                                <option value="Student">Student</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="display: none;" id="otherocc">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Enter Occupation</label>
                                            <input required type="text" value="{{occOther}}" name="occOther" id="otherOcc" class="form-control">
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class=" row boxrow">
                                    <div class="col-md-12">
                                        <strong class="labelh">Notes</strong>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Notes</label>
                                            <textarea type="text" rows="1" class="form-control" placeholder="{{notes}}" style="border-right: 1px solid #eee;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>







                            <div class="col-md-12" style="margin: 0px !important;">
                                <hr>
                                <div class=" row boxrow">
                                    <div class="col-md-12">
                                        <strong class="labelh pull-left">Address<span style="color: red">&nbsp; &#42;</span></strong>
                                    </div>
                                    <div class="col-md-4" style="margin: 0px !important;">

                                        <div class="form-group label-floating">
                                            <label class="control-label">State</label>
                                            <select  id="state" name="stateOwn" required class="form-control">

                                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                <option value="Assam">Assam</option>
                                                <option value="Bihar">Bihar</option>
                                                <option value="Chandigarh">Chandigarh</option>
                                                <option value="Chhattisgarh">Chhattisgarh</option>
                                                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                <option value="Daman and Diu">Daman and Diu</option>
                                                <option value="Delhi">Delhi</option>
                                                <option value="Goa">Goa</option>
                                                <option value="Gujarat">Gujarat</option>
                                                <option value="Haryana">Haryana</option>
                                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>
                                                <option value="Lakshadweep">Lakshadweep</option>
                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                <option value="Maharashtra">Maharashtra</option>
                                                <option value="Manipur">Manipur</option>
                                                <option value="Meghalaya">Meghalaya</option>
                                                <option value="Mizoram">Mizoram</option>
                                                <option value="Nagaland">Nagaland</option>
                                                <option value="Orissa">Orissa</option>
                                                <option value="Pondicherry">Pondicherry</option>
                                                <option value="Punjab">Punjab</option>
                                                <option value="Rajasthan">Rajasthan</option>
                                                <option value="Sikkim">Sikkim</option>
                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                <option value="Tripura">Tripura</option>
                                                <option value="Uttarakhand" selected="selected">Uttarakhand</option>
                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                <option value="West Bengal">West Bengal</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="col-md-4" style="margin: 0px !important;">
                                        <div class="form-group label-floating">
                                            <label class="control-label">District</label>
                                            <select  name="districtOwn" id="district" onchange="getBlock()" required class="form-control">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="margin: 0px !important;">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Block/Nagar palika</label>
                                            <select  name="blockOwn" id="block" onchange="getVillage()" onfocus="getBlock()" class="form-control">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="margin: 0px !important;">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Village</label>
                                            <select name="villageOwn" id="village" onfocus="getVillage()" class="form-control">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="margin: 0px !important;">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Pin Code</label>
                                            <input type="text" value="{{pinOwn}}" name="pinOwn" maxlength="6"  class="form-control numeric maxLengthFilter">
                                        </div>
                                    </div>



                                </div>
                            </div>








                        </div><!-- main ROW end-->



                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right"  >Update</button>
                            </div>
                        </div>
                        <br><br>


                        <input type="hidden" id="districtHi" disabled>
                </form>
            </div>

        </div>
    </div>


</div>

<div class="modal fade" id="requestAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
    <div class="modal-dialog" style="width: 300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12" style="text-align: center;">
                        <i class="material-icons" style="font-size: 60px; color: #86B530;">
                            check_circle_outline
                        </i>
                        <br><br>
                        <strong>Request submitted successfully</strong>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-transparent">
    <div class="container">
        <div class="copyright">
            &copy; 2018 Electoral | Powered by Genesis
        </div>
    </div>
</footer>
<script>
    $("#gender").val('{{gender}}');
    $("#mark").val('{{mark}}');
    $("#otherselect").val('{{occupation}}');
    if("{{districtOwn}}"){

        document.getElementById('districtHi').disabled = false;
        document.getElementById('districtHi').value='{{districtOwn}}';

    }

    $('#block').append($('<option>', {
        value: '{{blockOwn}}',
        text: '{{blockOwn}}',
        selected: true
    }));

    $('#village').append($('<option>', {
        value: '{{villageOwn}}',
        text: '{{villageOwn}}',
        selected: true
    }));
</script>


<script>
    function otherBox(){
        var othervalue = document.getElementById("otherselect").value;

        if(othervalue=="other"){
            document.getElementById('otherOcc').disabled = false;
            document.getElementById("otherocc").style.display = "block";
        }
        else {
            document.getElementById("otherocc").style.display = "none";
        }
    };
</script>
<script>
    if('{{message}}'=='Mobile/Email already exists.'){
        document.getElementById('name').value='{{name}}';
    }
    if('{{addC}}'!='on'){
        document.getElementById('forAddData').disabled = true;
    }
    if('{{addA}}'!='on'){
        document.getElementById('forAddAdmin').disabled = true;
    }
    if('{{aedAddress}}'!='on'){
        document.getElementById('forAddress').disabled = true;
    }
    if('{{superAdmin}}'!='false'){
        document.getElementById('forRequest').disabled = true;
    }
</script>
</body>
<script src="/bootstrapjs.js"></script>
<script src="material.min.js"> </script>
<script src="/materialkitjs.js"></script>

</html>