<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon.png">
    <link rel="icon" type="image/png" href="favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Electoral - Access</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <script src="/configjs.js"></script>
    <script src="/jquery1.js"></script>
    <script src="/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap.css">
    <script src="/address.js"></script>
    <script src="/newAdminSettings.js"></script>

    <link rel="stylesheet" href="/materialkit.css">
    <style>

        .slidecontainer {
            width: 100%;
        }    </style>

    <!--<style>-->
    <!--.slidecontainer {-->
    <!--width: 100%;-->
    <!--}-->

    <!--.slider {-->
    <!---webkit-appearance: none;-->
    <!--width: 100%;-->
    <!--height: 25px;-->
    <!--background: #d3d3d3;-->
    <!--outline: none;-->
    <!--opacity: 0.7;-->
    <!---webkit-transition: .2s;-->
    <!--transition: opacity .2s;-->
    <!--}-->

    <!--.slider:hover {-->
    <!--opacity: 1;-->
    <!--}-->

    <!--.slider::-webkit-slider-thumb {-->
    <!---webkit-appearance: none;-->
    <!--appearance: none;-->
    <!--width: 25px;-->
    <!--height: 25px;-->
    <!--background: #4CAF50;-->
    <!--cursor: pointer;-->
    <!--}-->

    <!--.slider::-moz-range-thumb {-->
    <!--width: 25px;-->
    <!--height: 25px;-->
    <!--background: #4CAF50;-->
    <!--cursor: pointer;-->
    <!--}-->
    <!--</style>-->

    <!--js files-->


</head>

<body style="background-color: #eee;">
<div class="section" style="margin-bottom: 15px; ">
    <div class="container">
        <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation" >
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#">
                        <div class="logo" style="line-height: 40px;">
                            <img src="logo.png" alt="Electoral Logo">
                        </div>
                    </a>
                </div>

            </div><!-- /.container-fluid -->
        </nav>
    </div></div>

<div class="wrapper">
    <div class="main main-raised" style="padding: 40px;">
        <div class="container">
            <h2 class="text-center">Configure New Admin Rights</h2>

            <h4>Configuring settings for <b>{{name}}</b>  :  <b>{{email}}</b></h4>
            <form action="/addedAdmin" autocomplete="off" method="post">
                <input type="hidden" value="{{email}}" name="email">
                <input type="hidden" id="forMessage" value="123">
                <input type="hidden" id="forPrint" value="123">
                <input type="hidden" id="forAdminAdd" value="123">
                <input type="hidden" id="forCivilAdd" value="123">
                <input type="hidden" id="forCivilEdit" value="123">

                <div class="row"><div class="col-md-6"> <div class="row boxrow">
                    <strong class="labelh">Message and Print Settings</strong>
                    <div class="col-md-6">
                        <div class="form-group label-fixed">
                            <label class="control-label">Message Rights</label>
                            <div class="slidecontainer">
                                <input type="range" min="0" max="1000" class="disableMessage" value="0" name="messageRights" id="myRange">
                                <p>Value: <span id="demo"></span></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group label-fixed">
                            <label class="control-label">Print Rights</label>
                            <div class="slidecontainer">
                                <input type="range" min="0" class="disablePrint" max="1000" value="0" name="printRights" id="myRange1">
                                <p>Value: <span id="demo1"></span></p>
                            </div>
                        </div>
                    </div>
                </div></div>

                    <div class="col-md-6"> <div class="row boxrow">
                        <strong class="labelh">Citizen Settings</strong>
                        <div class="col-md-6">

                            <div class="checkbox pull-left" style="margin-left: -15px; margin-right: -20px; margin-bottom: 20px;">
                                <label>
                                    <input type="checkbox" name="citizenAdd" class="disableCivilAdd" id="citizenAdd">
                                    <strong>Add New Citizens</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="checkbox pull-left" style="margin-left: -15px; margin-right: -20px; margin-bottom: 20px;">
                                <label>
                                    <input type="checkbox" id="citizenEdit" class="disableCivilEdit" name="citizenEdit">
                                    <strong>Edit Existing Citizens</strong>
                                </label>
                            </div>
                        </div>
                    </div></div>
                    <div class="col-md-6"> <div class="row boxrow">
                        <strong class="labelh">Admin Settings</strong>

                        <div class="col-md-12">

                            <div class="checkbox pull-left" style="margin-left: -15px; margin-right: -20px; margin-bottom: 20px;">
                                <label>
                                    <input type="checkbox" id="adminAdd" class="disableAdminAdd" name="adminAdd">
                                    <strong>Create New Admins</strong>
                                </label>
                            </div>
                        </div>
                    </div></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row boxrow">
                            <strong class="labelh">Area Access Level</strong>

                            <div class="row col-md-12">
                                <div class="col-md-3" id="stateRad">
                                    <div class="checkbox pull-left" style="margin-left: -15px; margin-right: -20px; margin-bottom: 20px;">
                                        <label>
                                            <input type="radio" id="stateRadio" required onclick="checkRadio()" value="state" name="optionsRadio">
                                            <strong>State</strong>
                                        </label>
                                    </div></div>
                                <div class="col-md-3" id="districtRad">
                                    <div class="checkbox pull-left" style="margin-left: -15px; margin-right: -20px; margin-bottom: 20px;">
                                        <label>
                                            <input type="radio" id="districtRadio" required onchange="checkRadio()" value="district" name="optionsRadio">
                                            <strong>District</strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3" id="blockRad">
                                    <div class="checkbox pull-left" style="margin-left: -15px; margin-right: -20px; margin-bottom: 20px;">
                                        <label>
                                            <input type="radio" id="blockRadio" required onchange="checkRadio()" value="block" name="optionsRadio">
                                            <strong>Block</strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3" id="villageRad">
                                    <div class="checkbox pull-left" style="margin-left: -15px; margin-right: -20px; margin-bottom: 20px;">
                                        <label>
                                            <input type="radio" name="optionsRadio" required onchange="checkRadio()" value="village" id="villageRadio">
                                            <strong>Village</strong>
                                        </label>
                                    </div>
                                </div>

                            </div>


                            <div id="stateR">
                                <div class="col-md-3" id="stateS" style="margin: 0px !important;">

                                    <div class="form-group label-floating">
                                        <label class="control-label">State</label>
                                        <input type="text" required readonly name="state" id="stateL" value="" class="form-control">
                                    </div>

                                </div>
                                <div id="stateH"  class="col-md-3" style="margin: 0px !important;">
                                    <div  class="form-group label-floating">
                                        <label class="control-label">State</label>
                                        <select name="state" required id="state" class="form-control">
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                            <option value="Daman and Diu">Daman and Diu</option>
                                            <option value="Delhi" selected="selected">Delhi</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Orissa">Orissa</option>
                                            <option value="Pondicherry">Pondicherry</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttarakhand" selected>Uttarakhand</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="West Bengal">West Bengal</option>
                                        </select>
                                    </div></div>

                            </div>
                            <div id="districtR">
                                <div class="col-md-3" id="districtS" style="margin: 0px !important;">

                                    <div class="form-group label-floating">
                                        <label class="control-label">District</label>
                                        <input type="text" required readonly name="district" id="districtL" value="" class="form-control">
                                    </div>

                                </div>
                                <div id="districtH" class="col-md-3" style="margin: 0px !important;">
                                    <div   class="form-group label-floating">
                                        <label class="control-label">District</label>
                                        <select  name="district" id="district"  onchange="getBlock()"  class="form-control">
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div id="blockR">
                                <div class="col-md-3" id="blockS" style="margin: 0px !important;">

                                    <div class="form-group label-floating">
                                        <label class="control-label">Block</label>
                                        <input type="text" readonly name="block" required id="blockL" value="" class="form-control">
                                    </div>

                                </div>
                                <div id="blockH" class="col-md-3" style="margin: 0px !important;">
                                    <div   class="form-group label-floating">
                                        <label class="control-label">Block/Nagar palika</label>
                                        <select  name="block" id="block"  onchange="getVillage()" class="form-control">
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div id="villageR">
                                <div class="col-md-3" id="villageS" style="margin: 0px !important;">

                                    <div class="form-group label-floating">
                                        <label class="control-label">Village</label>
                                        <input type="text" readonly required name="village" id="villageL" value="" class="form-control">
                                    </div>

                                </div>
                                <div  id="villageH" class="col-md-3" style="margin: 0px !important;">
                                    <div   class="form-group label-floating">
                                        <label class="control-label">Village</label>
                                        <select name="village" id="village"  class="form-control">
                                        </select>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <button type="submit" id="submit" class="btn btn-primary pull-right">Submit</button>

                <script>
                    var slider = document.getElementById("myRange");
                    var output = document.getElementById("demo");
                    output.innerHTML = slider.value;

                    slider.oninput = function() {
                        output.innerHTML = this.value;
                    }

                    var slider1 = document.getElementById("myRange1");
                    var output1 = document.getElementById("demo1");
                    output1.innerHTML = slider1.value;

                    slider1.oninput = function() {
                        output1.innerHTML = this.value;
                    }
                </script>
            </form>
        </div>
    </div>
</div>

<footer class="footer footer-transparent">
    <div class="container">


        <div class="copyright">

            &copy; 2018 Electoral | Powered by Genesis
        </div>
    </div>
</footer>
<script>
    if('{{level}}'==='village'){
        document.getElementById('stateRadio').disabled = true;
        document.getElementById('districtRadio').disabled = true;
        document.getElementById('blockRadio').disabled = true;

        document.getElementById('state').disabled = true;
        document.getElementById('district').disabled = true;
        document.getElementById('village').disabled = true;
        document.getElementById('block').disabled = true;

        document.getElementById('villageL').value='{{village}}';
        document.getElementById('blockL').value='{{block}}';
        document.getElementById('districtL').value='{{district}}';
        document.getElementById('stateL').value='{{state}}';
    }
    if('{{level}}'==='block'){
        document.getElementById('stateRadio').disabled = true;
        document.getElementById('districtRadio').disabled = true;

        document.getElementById('state').disabled = true;
        document.getElementById('district').disabled = true;
        document.getElementById('block').disabled = true;

        document.getElementById('blockL').value='{{block}}';
        document.getElementById('districtL').value='{{district}}';
        document.getElementById('stateL').value='{{state}}';
    }
    if('{{level}}'==='district'){
        document.getElementById('stateRadio').disabled = true;

        document.getElementById('state').disabled = true;
        document.getElementById('district').disabled = true;

        document.getElementById('districtL').value='{{district}}';
        document.getElementById('stateL').value='{{state}}';
    }
    if('{{level}}'==='state'){
        document.getElementById('state').disabled = true;
        document.getElementById('stateL').value='{{state}}';
    }
</script>
<script>
    if('{{editC}}'!='on'){
        document.getElementById('forCivilEdit').disabled = true;
    }
    if('{{addC}}'!='on'){
        document.getElementById('forCivilAdd').disabled = true;
    }
    if('{{addA}}'!='on'){
        document.getElementById('forAdminAdd').disabled = true;
    }
    if('{{message}}'=='0'){
        document.getElementById('forMessage').disabled = true;
    }
    else{
        document.getElementById('forMessage').value='{{message}}';
        document.getElementById('forMessage').disabled = false;
    }
    if('{{print}}'=='0'){
        document.getElementById('forPrint').disabled = true;
    }
    else{
        document.getElementById('forPrint').value='{{print}}';
        document.getElementById('forPrint').disabled = false;
    }
</script>
</body>
<script src="/bootstrapjs.js"></script>
<script src="material.min.js"> </script>
<script src="/materialkitjs.js"></script>

</html>

